@font-face {
  font-family: "Quicksand";
  src: url("/Quicksand-VariableFont_wght.ttf");
}
* {
  padding: 0;
  margin: 0;
  transition: all 100ms;
  font-family: "Quicksand";
}

.navbar__container {
  background: url("/images/header pattern svg.svg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 2rem;
  background-color: black;
  border-bottom: 4px solid #31B9E4;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar__right .navbar__links ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}
.navbar__right .navbar__links ul a {
  text-decoration: none;
  color: #3FD28B;
}
.navbar__right .navbar__links ul .active {
  color: white;
  border-bottom: 4px solid white;
  padding-bottom: 1rem;
}
.navbar__right .navbar__actions ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.notification {
  background-color: blue;
  color: white;
  padding: 0.125rem;
  border-radius: 50%;
  position: absolute;
}

.navbar__toogle button {
  border: none;
  outline: none;
  background-color: transparent;
  display: none;
}

.inactive {
  display: none !important;
}

.active_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  min-width: 8rem;
  top: 3rem;
  font-size: 0.8rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  transition: 0.2s ease-out;
}
.active_menu li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.active_menu a {
  text-decoration: none;
  color: #3FD28B;
  font-weight: 600;
}
.active_menu i {
  color: #3FD28B;
}

.announcements_inactive {
  display: none !important;
}

.announcements_active, .alert_active {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  max-width: 15rem;
  max-height: 5rem;
  overflow-y: scroll;
  top: 3rem;
  right: 3rem;
  font-size: 0.8rem;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  transition: 0.2s ease-out;
}
.announcements_active li, .alert_active li {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.announcements_active a, .alert_active a {
  text-decoration: none;
  color: #3FD28B;
}
.announcements_active i, .alert_active i {
  color: #1F7A54;
  font-size: 1rem;
}

.notification_body {
  font-size: 14px;
  margin-top: 0.2rem;
}

.notification_header,
.notification_footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  gap: 0.3rem;
  margin-top: 0.2rem;
}

.notification_line {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgba(34, 34, 34, 0.1215686275);
}

.notification_expand {
  position: sticky;
  display: flex;
  bottom: 0px;
  color: #3FD28B;
  justify-content: space-between;
  padding: 5px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2392156863);
  border-radius: 0 2px;
}

.alert_inactive {
  display: none !important;
}

.alert_active {
  right: 8rem;
}

#body__wrapper {
  background-color: #EEEEEE;
  min-height: 100vh;
  padding-top: 2rem;
}

.body__header {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #8DDC97;
  margin: 0 2rem;
}
.body__header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.body__header div .count {
  font-size: 1.5rem;
  font-weight: bold;
}

.body__filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
.body__filter div > * {
  margin-left: 0.75rem;
}
.body__filter select {
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  min-width: 8rem;
  min-height: 2.5rem;
  font-weight: 600;
}

#body__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  background-color: white;
  padding: 1.5rem;
  margin: 1.5rem auto;
  max-width: 30rem;
  border-radius: 2px;
}

.card__favourite {
  float: right;
}

.card__body {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.card__content > * {
  margin-bottom: 0.5rem;
}
.card__content > * b {
  margin: 0 0.25rem;
}

.card__content select {
  min-width: 10rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  font-weight: 600;
  font-size: 16px;
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.disabled__logo {
  opacity: 0.5;
}

.card__expired {
  color: #D80000;
  background-color: #FFE4E6;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  top: -1.5rem;
  left: -1.5rem;
  font-size: 0.75rem;
  font-weight: bold;
}

.increment {
  font-weight: bold;
  color: #1F7A54;
}

hr {
  margin-top: 0.5rem;
}

#body__sublink ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
#body__sublink ul a {
  text-decoration: none;
  color: #3FD28B;
}

#footer__container {
  margin-top: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: 0;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #E0E1E1;
}
.footer a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .navbar__container {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem 0.35rem;
  }
  .navbar__links {
    display: none;
  }
  .navbar__toogle button {
    display: block;
  }
  #body__card {
    grid-template-columns: 1fr;
  }
}/*# sourceMappingURL=styles.css.map */